* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  justify-items: center;
  align-items: center;
  padding: 0 5rem;
  height: 90px;
  margin-top: -1rem;
}
.logo {
  font-size: 2.8rem;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

.menu {
  display: flex;
  gap: 1.7rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 1.05rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #667eea;
}

.menu a::after {
  transition: width 0.3s ease;
}

.icons {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icons a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.shop p {
  margin-top: 10px;
  margin-bottom: 15px;
}
.shop h3 {
  font-weight: bold;
  font-size: 30px;
}
.all-btn {
  display: flex;
  gap: 7rem;
  align-items: center;
  justify-content: center;
}
.solo-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solo-btn button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 40px;
  padding: 0;
  margin-bottom: 10px;
  border: none;
}
.solo-btn p {
  font-size: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.solo-btn button:hover {
  border: 2px solid rgb(207, 58, 215, 0.2);
  background-color: #677eea;
  transform: scale(1.2);
}
