*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}

.coco{
    padding: 20px;
    background-color: rgba(45, 111, 223, 0.575);
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: start;
    overflow: hidden;
}
.first{
    position: relative;
    top:5%;
    bottom: 90%;
    left:30px;
    right:95%;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}
.first h4{
    font-size: 20px;
    margin-bottom: -10px;
}
.first h1{
    font-size: 90px;
    margin-bottom: 5px;
    line-height: 1;
}
.first p{
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.first .shop-button{
    padding: 10px 50px;
    background-color: white;
    color: #f94d69;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.first .shop-button:hover{
    background-color: rgba(8, 23, 157, 0.233);
    color: #f94d69;
}
.second{
    position: relative;
}

.discount{
    position: relative;
    margin-right: 5000%;
    top: 12%;
}

.third{
    position: relative;
    left: 38%;
}
.image{
    width: 500px;
    height: 150%;
    margin-left:-250px;
    margin-top:-210px;
    background: none;
}
.discount{
    height: 80px;
    width: 80;
}
.first .meet{
    width: 50px;
}
.mod{
    display: flex;
}
.imge{
    margin-left: 50px;
    margin-top: -50px;
}
.meet h1{
    margin-top: -25px;
}
.now{
    margin-left: 5px;
}
